<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="booking.bd.com.bdbooking.jz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	
    <application
        android:name="booking.bd.com.bdbooking.BdApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_jz"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data  
        android:name="com.baidu.lbsapi.API_KEY"  
        android:value="siy4xtegdRMTVqgPwtx0ZE6n" /> 
        
        <activity
            android:name="booking.bd.com.bdbooking.activitys.AuthActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="booking.bd.com.bdbooking.activitys.BottledWaterActivity" 
            android:screenOrientation="landscape" >
            <intent-filter>
  				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
          <!--       <category android:name="android.intent.category.LAUNCHER" /> -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="booking.bd.com.bdbooking.activitys.OrderFormActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
  				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
    <!--             <category android:name="android.intent.category.LAUNCHER" /> -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        
        <activity android:name="booking.bd.com.bdbooking.activitys.RepairActivity"
            android:screenOrientation="landscape"  >
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
       <!--          <category android:name="android.intent.category.LAUNCHER" /> -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        
          <activity android:name="booking.bd.com.bdbooking.activitys.NewsReportActivity"
            android:screenOrientation="landscape"  >
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
               <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        
          
          <activity android:name="booking.bd.com.bdbooking.activitys.NewsDetailsActivity"
              android:screenOrientation="landscape" >
              
          </activity>
        <activity
            android:name="booking.bd.com.bdbooking.activitys.BookingForWater"
            android:label="@string/title_activity_booking_for_water" >
        </activity>
        <activity
            android:name="booking.bd.com.bdbooking.activitys.BookingForOpenDoor"
            android:label="@string/title_activity_booking_for_open_door" >
        </activity>
        <activity
            android:name="booking.bd.com.bdbooking.activitys.ReportErrorActivity"
            android:exported="true"
            android:label="@string/title_activity_report_error"
            android:process=":reporterror" >
        </activity>
        <activity
            android:name="booking.bd.com.bdbooking.activitys.CheckBookingActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="booking.bd.com.bdbooking.fragments.LoginFragment"
            android:label="@string/title_activity_login_fragment" >
        </activity>
    </application>

</manifest>